

#fireoptionsimg{
    background-image: url(../images/unknownwbg.png);
    background-size: cover;
    width: 100px;
    height: 100px;
}

#iceoptionsimg{
    background-image: url(../images/unknownwbg.png);
    background-size: cover;
    width: 100px;
    height: 100px;
}

#electricoptionsimg{
    background-image: url(../images/unknownwbg.png);
    background-size: cover;
    width: 100px;
    height: 100px;
}

#windoptionsimg{
    background-image: url(../images/unknownwbg.png);
    background-size: cover;
    width: 100px;
    height: 100px;
}

#lightoptionsimg{
    background-image: url(../images/unknownwbg.png);
    background-size: cover;
    width: 100px;
    height: 100px;
}

#darkoptionsimg{
    background-image: url(../images/unknownwbg.png);
    background-size: cover;
    width: 100px;
    height: 100px;
}

#slashoptionsimg{
    background-image: url(../images/unknownwbg.png);
    background-size: cover;
    width: 100px;
    height: 100px;
}

#strikeoptionsimg{
    background-image: url(../images/unknownwbg.png);
    background-size: cover;
    width: 100px;
    height: 100px;
}

#pierceoptionsimg{
    background-image: url(../images/unknownwbg.png);
    background-size: cover;
    width: 100px;
    height: 100px;
}