@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Kumbh Sans", sans-serif;
    color: #300350;
    background-image: url(../images/vaporwavebg.jpg);
    background-size: cover;
    background-position: center top;  
    background-attachment: fixed;
}

.inline{
    display: flex;
}

h1{
    text-align: center;
    background-color:hsla(337, 80%, 56%, 0.9);
    border-radius: 15px;
}

p{
    text-align: center;
    background-color:hsla(337, 80%, 56%, 0.9);
    border-radius: 15px;
    width: 50%;
    margin-right: auto;
    margin-left: 350px;
    font-size: 20px;
    padding: 10px;
}

.mp3{
    float: right;
    height: 500px;
    padding-top: 25px;
}