@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');

body{
    font-family: "Shippori Mincho", serif;
    color: #300350;
    
}

.Hamburger{
    position: fixed;
    font-size: 20px;
}



nav ul{
    list-style-type: none;
    display: inline-block;
    margin-top: auto;
    
}

#MainMenu:checked ~ .mainmenuani{
    width: 170px;
}

#Assignmentmenu:checked ~ .assigmenuani{
    height: 300px;
}


nav li{
    padding-top: 0.6em;
    margin-bottom: 0px;
    margin-left: -40px;
    
}

#MainMenu{
    display: none;
}

#Assignmentmenu{
    display: none;
}



a{ 
    text-decoration: none; 
  } 

.menugrad{
    background: linear-gradient(#F9AC53, #E93479);
    border-radius: 15px;
    height: 60px;
    width: 60px;
}

.menuIcon{
    background-image: url(../images/menu_icon.gif);
    height: 60px;
    width: 60px;
    background-size: 100% 100%;
    margin-left: 0%;
    margin-right: auto;
    cursor: pointer;
    
}

.mainmenuani{
    width: 0px;
    overflow: hidden;
    transition: width 0.5s ease-in;
    background: linear-gradient(#E93479, #F9AC53);
    border-radius: 15px;
}

.minimenu{
    font-size: 16px;
    padding-right: 10px;
    overflow: hidden;
    white-space: nowrap;
   
}

.assigmenuani{
    height: 0px;
    transition: height 0.5s ease-in;
    overflow: hidden;
}

.dropdownimg{
    height: 20px;
    width: 20px;
    background-size: 100% 100%;
    vertical-align: bottom;
    cursor: pointer;
    white-space: nowrap;
}







 



