@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');

body{
    font-family: "Shippori Mincho", serif;
    color: #300350;
    background-image: url(../images/vaporwavebg.jpg);
    background-size: cover;
    background-position: center top;  
    background-attachment: fixed;
}


.Hamburger{
    position: fixed;
    font-size: 18px;
    z-index: 1000;
}


nav ul{
    list-style-type: none;
    display: inline-block;
    margin-top: auto;
}

#MainMenu:checked ~ .mainmenuani{
    width: 300px;
}

#Assignmentmenu:checked ~ .assigmenuani{
    height: 185px;
}

#websitemenu:checked ~ .webmenuani{
    height: 275px;
}



nav li{
    padding-top: 0.3em;
    margin-bottom: 0px;
    margin-left: -35px;
    
}

nav{
    z-index: 100;
}

#MainMenu{
    display: none;
    z-index: 100;
}

#Assignmentmenu{
    display: none;
}

#websitemenu{
    display: none;
}


a{ 
    padding-top: 0.3em;
    color: #300350;
    text-decoration: none;
 } 

 a:hover{
    font-size: larger;
 }

.menugrad{
    background: linear-gradient(#F9AC53, #E93479);
    border-radius: 15px;
    height: 60px;
    width: 60px;
}

.menuIcon{
    background-image: url(../images/menu_icon.gif);
    height: 60px;
    width: 60px;
    background-size: 100% 100%;
    margin-right: auto;
    cursor: pointer;
}

.underconstructionimg{
    background-image: url(../images/errortriangle.png);
    height: 100px;
    width: 100px;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
}

.underconstructionimgsmall{
    background-image: url(../images/errortriangle.png);
    height: 50px;
    width: 50px;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
}

.long{
    width: 960px;
    background-color:hsla(337, 80%, 56%, 0.7)
}

.mainmenuani{
    width: 0px;
    overflow: hidden;
    transition: width 0.5s ease-in;
    background: linear-gradient(#E93479, #F9AC53);
    border-radius: 15px;
   
}

.minimenu{
    font-size: 15px;
    padding-right: 10px;
    white-space: nowrap;
}

.dropdownimg{
    height: 20px;
    width: 20px;
    background-size: 100% 100%;
    vertical-align: bottom;
    cursor: pointer;
    white-space: nowrap;
}
.assigmenuani{
    height: 0px;
    transition: height 0.5s ease-in;
    overflow: hidden;
}

.webmenuani{
    height: 0px;
    transition: height 0.5s ease-in;
    overflow: hidden;
}

.listassignments{
    display: block;
    margin-left: -35px;
    white-space: nowrap;
}

.linksize{
    font-size: 18px;
    margin-top: 15px;
}

h1{
    text-align: center;
    letter-spacing: 1.1rem;
    background-color:hsla(337, 80%, 56%, 0.5);
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

h3{
    text-align: center;
    letter-spacing: 1.1rem;
    background-color:hsla(337, 80%, 56%, 0.5);
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    text-align: center;
    letter-spacing: 1.1rem;
    background-color:hsla(337, 80%, 56%, 0.5);
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.videogametitle{
    text-align: center;
    letter-spacing: 1.1rem;
    background-color:hsla(337, 80%, 56%, 0.5);
    width: 350px;
    font-size: 20px;
}




.IWhead{
    white-space: nowrap;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    letter-spacing: 1.1rem;
    background-color:hsla(337, 80%, 56%, 0.8);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

}


#IW1{
    width: 1015px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 15px;
    background-image: url(../images/nightwaveplaza.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#Interesting2{
    width: 1015px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 15px;
    background-image: url(../images/website2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#Interesting3{
    width: 1015px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 15px;
    background-image: url(../images/teyvatinteractivemap.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#Interesting4{
    width: 1015px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 15px;
    background-image: url(../images/placeholderbggg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#Interesting5{
    width: 1015px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 15px;
    background-image: url(../images/placeholderbggg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#Interesting6{
    width: 1015px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 15px;
    background-image: url(../images/placeholderbggg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#Interesting7{
    width: 1015px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 15px;
    background-image: url(../images/placeholderbggg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#Interesting8{
    width: 1015px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 15px;
    background-image: url(../images/placeholderbggg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#Interesting9{
    width: 1015px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 15px;
    background-image: url(../images/placeholderbggg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#Interesting10{
    width: 1015px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 15px;
    background-image: url(../images/placeholderbggg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#Assignment1{
    width: 1015px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 800px;
    margin-bottom: 200px;
    border-radius: 15px;
    background-image: url(../images/internetbroadsheetpic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#Assignment2{
    width: 1015px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 800px;
    margin-bottom: 200px;
    border-radius: 15px;
    background-image: url(../images/mirrorcirclesbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#Assignment3{
    width: 1015px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 800px;
    margin-bottom: 200px;
    border-radius: 15px;
    background-image: url(../images/mirrorcirclesbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#Assignment4{
    width: 1015px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 800px;
    margin-bottom: 200px;
    border-radius: 15px;
    background-image: url(../images/mirrorcirclesbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#Assignment5{
    width: 1015px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 800px;
    margin-bottom: 200px;
    border-radius: 15px;
    background-image: url(../images/mirrorcirclesbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#Assignment6{
    width: 1015px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 800px;
    margin-bottom: 200px;
    border-radius: 15px;
    background-image: url(../images/mirrorcirclesbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#Assignment7{
    width: 1015px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 800px;
    margin-bottom: 200px;
    border-radius: 15px;
    background-image: url(../images/mirrorcirclesbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.slider{
    position: absolute; 
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.slider2{
    position: absolute; 
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}


.bubble{
      width: 1015px;
      height:400px;
      z-index: -1; 
      background: radial-gradient(circle, hsla(32, 93%, 65%, 1) 0%, hsla(337, 80%, 56%, 1) 100%);
      margin-left: auto;
      margin-right: auto;
      border-radius: 15px;
      overflow: hidden;
}
    
.bubble_canvas{
    min-width: 50px;
    min-height: 50px;
    position: block;
    top: 0;
    left: 0;
    z-index: 1;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 15px;
    pointer-events:none;
    width: 1000px;
}

.titlewords{
    z-index: 0;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    pointer-events:none;
}

.cats{
    margin-top: 100px;
}

.catgrid{
    display: grid;
    grid-template-columns: 6;
    grid-template-rows: 2;
    gap: 30px;
    width: 100%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}

.loki{
    grid-row: 2;
    grid-column: 1;
    width: 200px;
    height: 300px; 
    border: #caffbf;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
}

.poppy{
    grid-row: 1;
    grid-column: 1;
    width: 200px;
    height: 300px;  
    border: #ffadad;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
}

.simon{
    grid-row: 1;
    grid-column: 3;
    width: 200px;
    height: 300px;  
    border: #ffd6a5;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
}

.hester{
    grid-row: 1;
    grid-column: 5;
    width: 200px;
    height: 300px;  
    border: #fdffb6;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
}

.kiwi{
    grid-row: 2;
    grid-column: 3;
    width: 200px;
    height: 300px; 
    border: #9bf6ff;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
}

.stumpy{
    grid-row: 2;
    grid-column: 5;
    width: 200px;
    height: 300px; 
    border: #bdb2ff;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
}

.popwords{
    grid-row: 1;
    grid-column: 2;
    font-size: 30px;
    background-color: #ffadad;
    text-align: left;
    margin-bottom: 3px;
}

.simonwords{
    grid-row: 1;
    grid-column: 4;
    font-size: 30px;
    background-color: #ffd6a5;
    text-align: left;
    margin-bottom: 3px;
}

.heswords{
    grid-row: 1;
    grid-column: 6;
    font-size: 30px;
    background-color: #fdffb6;
    text-align: left;
    margin-bottom: 3px;
}

.lokiwords{
    grid-row: 2;
    grid-column: 2;
    font-size: 30px;
    background-color: #caffbf;
    text-align: left;
    margin-bottom: 3px;
}

.kiwiwords{
    grid-row: 2;
    grid-column: 4;
    font-size: 30px;
    background-color: #9bf6ff;
    text-align: left;
    margin-bottom: 3px;
}

.stumpwords{
    grid-row: 2;
    grid-column: 6;
    font-size: 30px;
    background-color: #bdb2ff;
    text-align: left;
    margin-bottom: 3px;
}

.small{
    font-size: 18px;
}

.persona5img{
    width: 81%;
    height: 50%;
    
}

.genshinimg{
    width: 81%;
    height: 50%;
}

.brokenrealityimg{
    width: 81%;
    height: 50%;
}


.games{
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
    gap: 30px;
    width: 100%;
    height: 100%;
    justify-items: center;
   
}

.persona5{
    grid-column: 1;
}

.genshin{
    grid-column: 3;
}

.broken{
   grid-row: 1;
   grid-column: 2;
}

.videogametitle2{
    text-align: center;
    letter-spacing: 1.1rem;
    background-color:hsla(337, 80%, 56%, 0.5);
    width: 400px;
    font-size: 20px;
}


