/* 
Genshin:
    #1d1c22  - teleport loading screen (dark) 
    #d9c48f  - teleport words (gold)
    #4b5366 - bacground for white text (grey) 
    #ece4d7 - lighter text color (light gold) 

Persona: 
    #fe0000 - red
    #000000 - black 
    #ffffff - white
    #5e5e5e - grey  


Broken Reality: 
    #00e5c4 - teal UI 
    #323032 - text color 
    #edcff5 - light pink 
    #e367fd - dark pink 
*/



@font-face {
    font-family: genshinImpactFont;
    src: url(../fonts/zh-cn.ttf);
}

@font-face {
    font-family: persona5Font;
    src: url(../fonts/PersonifiedUXRegular.ttf);
}

@font-face {
    font-family: brokenRealityFont;
    src: url(../fonts/Retro\ Gaming.ttf);
}

*{
    scroll-behavior: smooth;
    overflow: hidden;
   /* overflow: hidden; un-comment once the sections are done to hide scrollbars  */
}

body{
    background-color: black;
}

#genshinContainer{
    font-family: genshinImpactFont, sans-serif;
    border-color: #d9c48f;
    border-width: 2px;
    border-style: solid;
    width: 99%;
    height: 67%;
    color: #ece4d7;
    background-color: #1d1c22;
    border-radius: 10px;
    margin-top: 30px;
}

#personaContainer{
    font-family: persona5Font, sans-serif;
    border-color: #fe0000;
    border-width: 2px;
    border-style: solid;
    width: 100%;
    height: 67%;
    color: #ffffff;
    background-image: url(../images/Persona-5-Royal-Star-Background.jpg);
    border-radius: 10px;
    letter-spacing: 0.1rem;
    font-size: 18px;
    margin-top: 30px;
}

#brokenrealityContainer{
    font-family: brokenRealityFont, sans-serif;
    border-color: #00e5c4;
    border-width: 2px;
    border-style: solid;
    width: 100%;
    height: 67%;
    color: #323032;
    background-color: #edcff5;
    background-image: url(../images/transparentcheck.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 30px;
}

.title{
    text-align: center;
}


#inlinecontainer{
    
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: 100% 100% 100%;
    gap: 50px;
}

.CoverImage{
    width: 100%;
    height: 95%;
}

.CoverImagebroke{
    width: 100%;
    height: 72%; 
    
}

.cardgif{
    width: 125px;
    height: 175px;
}

.AOimg{
    width: 50%;
    height: 50%;
}

.areaimg{
    width: 70%;
    height: 70%; 
}

.favtxt{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.fav{
    display: flex;
    padding: 10px;
}

.clearfix{
    clear: both;
}

.genshingrid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 25px;
}

.box{
    padding: 5px;
}



.textcenter{
    text-align: center;
}

